.material-icons.md-36 { font-size: 36px; }
.btn-ob,
.btn-ob.focus,
.btn-ob:focus,
.btn-ob:hover {
  color: #FFF;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00635C;
  box-shadow: 0 1px 0 0 #00635C;
}
.main-color {
  background: #00635C !important;
}
.accent-color {
  background: rgb(214, 172, 139) !important
}
.font-main-color {
  color: #B98E46 !important;
}
.font-accent-color {
  color: #00635C !important;
}
a {
  color: #00635C;
}
.font-white {
  color: #FFF;
}
.btn-ob-cancel {
  margin-top: 0;
  margin-bottom: 0;
}

/** Material icons **/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('../iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('../iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*** Punto de Venta ***/
.ob-labels { font-size: 18px; }
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.products {
  min-height: 100px;
}
.products:hover {
  cursor: pointer;
}
